[submodule "actions/checkout/v4"]
	path = actions/checkout/v4
	url = https://github.com/actions/checkout
	branch = v4
[submodule "aquasecurity/trivy-action/v0"]
	path = aquasecurity/trivy-action/v0
	url = https://github.com/aquasecurity/trivy-action
	branch = 0.30.0
[submodule "github/codeql-action/v3"]
	path = github/codeql-action/v3
	url = https://github.com/github/codeql-action
	branch = v3
[submodule "hadolint/hadolint-action/v3"]
	path = hadolint/hadolint-action/v3
	url = https://github.com/hadolint/hadolint-action
	branch = v3.1.0
